@font-face {
  font-family: 'iconfont';
  src: url('/fonts/iconfont.woff2?t=1653877625692') format('woff2'),
    url('/fonts/iconfont.woff?t=1653877625692') format('woff'),
    url('/fonts/iconfont.ttf?t=1653877625692') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 24px;
}
